<div class = "page-header">
  <h1>イベント一覧</h1>
</div>

<div class = "jumbotron mt-4">
  <h2>検索フォーム</h2>
  <hr/>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>
    <p>
      <%= sort_link(@q, :start_time) %>
    </p>
    <p>
      <%= f.date_select  :start_time_gteq , strat_year: Date.today.year, end_year: Date.today.year + 1 %> 〜
    </p>
    <%= f.submit  %>
  <% end  %>
</div>

<div class = "list-group mt-4">
  <% @events.each do |event| %>
    <%= link_to event, class: "list-group-item"  do %>
      <h4 class = "list-group-item-heading">
         <%= event.name %>
      </h4>
      <p class = "list-gruop-item-text">
        <%= l event.start_time %> 〜 <%= l event.end_time %>
      </p>
    <% end %>
  <% end  %>
  <%= paginate @events %>
</div>