<div class = "page-header">
  <h1>
    <%= @event.name %>
  </h1>
</div>

<div class = "row">
  <div class = "col-md-8">
    <div class = "card mb-3">
      <div class = "card-header">
        主催者
      </div>
      <div class = "card-body">
        <% if @event.owner ==  nil %>
          <p>退会したユーザー</p>
        <% elsif @event.owner.provider %>
          <%= link_to  "https://github.com/#{@event.owner.name}" do %>
            <%= image_tag @event.owner.image , height: "150px", width: "150px"%>
            <%= @event.owner.name %>
          <%  end  %>
        <% end  %>
      </div>
    </div>

    <div class = "card mb-3">
      <div class = "card-header">
          開催時間
      </div>
      <div class = "card-body">
        <%= l @event.start_time %> 〜 <%= l @event.end_time %>
      </div>
    </div>

    <div class = "card mb-3">
      <div class = "card-header">
        開催場所
      </div>
      <div class = "card-body">
        <%= @event.place %>
      </div>
    </div>
  </div>

  <div class = "col-md-4">
    <% if @event.created_by?(current_user) %>
      <%= link_to "イベントを編集する", edit_event_path(@event), class: "btn btn-lg btn-block btn-info" %>
      <%= link_to "イベントを削除する", @event, method: :delete, class: "btn btn-lg btn-block btn-danger", data: {confirm: "本当に削除しますか?"} %>
     <% end  %>
    <% if user_signed_in? %>
      <% if @ticket %>
        <%= link_to "イベント参加をキャンセルする",event_ticket_path(@event,@ticket) , method: :delete, class: "btn btn-warning btn-lg btn-block" %>
      <% else %>
        <button class = "btn btn-lg btn-primary btn-block" data-toggle = "modal" data-target = "#createTicket">
          参加する
        </button>
      <% end %>
      <div class = "card card-default mt-4">
        <div class = "card-heading text-center">
          参加者
        </div>
        <div class = "card-body">
          <ul class = "list-unstyled">
            <% @tickets.each do |ticket| %>
              <li class = "mt-2 mb-3">
                <% if ticket.user %>
                  <%= link_to "https://github.com/#{ticket.user.name}" do  %>
                    <%= image_tag ticket.user.image ,height: "50px", width: "50px" %>
                    <%= ticket.user.name %>
                    <p>
                      <%= ticket.comment %>
                    </p>
                  <% end %>
                <% else %>
                   <p>退会したユーザー</p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">参加する</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with(model: @event.tickets.build , remote: true, url: event_tickets_path(@event)) do |f|%>
              <div class="modal-body">
                <div class = "form-group">
                  <%= f.label :comment %>
                  <%= f.text_area :comment , class: "form-control" %>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                  <%= f.submit "参加する" , class: "btn btn-primary", data: {disable_with: "送信中・・・"} %>
                </div>
              <% end  %>
          </div>
        </div>
      </div>
      <!-- Modal -->
  <% end  %>
  </div>
</div>